body {
  color: #555;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

/*Hover effects*/

.story-title a:hover, .section-latest-title a:hover, .list-content a:hover {
  box-shadow: inset 0 -1px 0 rgba(255,68,34,.25);
  color: #f42;
}

 .list-content .author-list li a:hover {
  color: #555;
}

ul.nav-tnw li a:hover, .section-popular-list li a:hover {
  color: #fff;
}

ul.author-list li a:hover,.nav-menu-search a:hover {
  color: #000;
}
.section-headline-title a:hover, .latest-funding-header .list li a:hover, .latest-funding .story .investment-card a:hover{
  color: #000;
}
.latest-funding-header .list li a:hover, .latest-funding .story .investment-card a:hover {
  color: #000;
}

.section-popular-title a:hover {
  box-shadow: inset 0 -1px 0 hsla(0,0%,100%,.3);
}

.footer-links-social li a:hover {
  background: transparent;
  box-shadow: inset 0 0 0 2px #333;
}

.caret:hover::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23000" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
}

.caret::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
  width: 16px;
}

.large-screen-view {
  display: none;
}

.logo {
  display: none;
}


header .nav {
 margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}



.menu,
.search {
  border-left: 1px solid #eee;
  order: 1;
  width: 48px;
}
/*End of nav*/
main {
margin-top: 110px;
}

.container-main{
background: #F1F1F1;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
margin: 1vw;
max-width: 95%;
height: 450px;

}
.left-section{
order:  1; 
flex-basis: 58%;
transition: background-color .4s ease;
background:rgba(0,0,0,.25) url("../images/selfie-796x398.jpg") no-repeat;
background-position: center;
background-size: cover;

}
.content {
position: relative;
left: 0px;
top: 350px;
color: white;
}
.content ul{
padding:5px;
}
.content ul li{
display: inline;
}

.right-section{
order: 2;
border: 2px solid green;
flex-basis: 40%;
}

.right-section {
display: flex;
flex-direction: column;


}
.right-top{
background: url("../images/alexandru-bogdan-ghita-eM6WUs4nKMY-unsplash-Cropped-796x419.jpg") no-repeat;
background-position: center;
background-size: cover;
height: 50%;
margin-bottom: 1vw;

}
.content1 {
position: relative;
left: 0px;
top: 100px;
color: white;
}
.content1 ul{
padding:5px;
}
.content1 ul li{
display: inline;
}
.right-bottom{
background: url("../images/caitlin-1-796x417.png") no-repeat;
background-position: center;
background-size: cover;
height: 50%;

}
.content2 {
position: relative;
left: 0px;
top: 100px;
color: #000;
color: white;
}
.content2 ul{
padding:5px;

}
.content2 ul li{
display: inline;
color: white;
}

#site-wrapper {
margin: 50px auto;
max-width: 1192px;
padding: 0 20px;
}
.news{
display: flex;
flex-wrap: wrap;
flex-direction:row;
align-items: center;
justify-content: center;

}
.latest-news h2{
margin-left: 30px;
color: #f42;
}
.news1{
width:270px;
padding: 10px;

}
.news1 img{
height: 141px;
}
.news1 li{
display: inline;
}
.news1 h4{
font-family: 'Courier New', Courier, monospace;
font-size: 1em;
color: #000;
}

/* Latest Fundings */

.section-header {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 24px;
}

.section-title {
margin-bottom: 24px;
font-family: sans-serif;
font-size: 28px;
color: #f42;
font-weight: 700;
line-height: 1.1;
}

.section-title::after {
content: ">";
display: inline-block;
height: 16px;
margin-left: 4px;
position: relative;
top: 1px;
width: 15px;
}

.section-list-right {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.section-list-item {
font-size: 16px;
margin-top: 10px;
margin-right: 10px;
padding-left: 10px;
}

.section-list-item:nth-child(2),
.section-list-item:nth-child(3) {
border-left: 1px solid #f42;
}

.section-list-item a {
color: #f42;
text-decoration: none;
}

#latest-news-container,
#latest-funds-container,
#latest-deals-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 24px;
margin-bottom: 56px;
}

.item-content {
width: 100%;
height: 100%;
}

.item-img {
background-color: #000;
background-size: cover;
background-position: 50%;
height: 135px;
width: 100%;
display: block;
margin-bottom: 8px;
background-repeat: no-repeat;
opacity: 1;
}

.item-h4 {
font-size: 16px;
font-weight: 700;
line-height: 20px;
margin-bottom: 0;
overflow-wrap: break-word;
word-wrap: break-word;
}

.item-list {
font-size: 13px;
line-height: 20px;
color: #aaa;
padding-top: 4px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
width: 200px;
}

#latest-funds-container{
display: flex;
flex-wrap: wrap;
flex-direction:row;
align-items: center;
justify-content: center;

}

#latest-fundings,
#latest-deals {
margin-bottom: 55px;
}

.funds-item {
position: relative;
overflow: hidden;
min-height: 60px;
width: 270px;
height: 290px;
background-color: #FFFAF8;
padding-right:10px;
}

.f-item-header {
position: relative;
display: block;
}

.f-item-img {
position: absolute;
top: 0;
left: 0;
height: 60px;
width: 60px;
margin: 11px;
display: block;
}

.f-item-h4 {
background-color: #f42;
font-family: sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1;
color: #fff;
padding: 11px 16px;
padding-left: 84px;
}

.f-item-desc {
font-family: sans-serif;
font-weight: 700;
line-height: 1;
padding: 11px 16px;
padding-left: 84px;
color: #000;
background-color: #FFEBE7;
}

.f-item-desc h4 {
font-size: 18px;
color: #000;
}

.f-item-desc h5 {
color: #000;
opacity: .5;
font-family:'Roboto Mono', monospace;
font-size: 12px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .04em;
line-height: 1.5;
}

.f-item-details {
padding: 16px;
display: block;
background-color: #FFFAF8;
}

.f-item-market,
.f-item-investor {
margin: 0 13px 6px 0;
position: relative;
font-size: 13px;
color: #555;
line-height: 22px;
display: flex;
align-items: center;
}

.f-item-market img,
.f-item-investor img {
margin-right: 15px;
width: 16px;
height: 16px;
}

.f-item-byline {
border-top: 1px solid rgba(255, 68, 34, .25);
color: #555;
padding: 10px 16px 16px;
font-size: 12px;
background-color: #FFFAF8;
height: 100%;
}

.f-item-p {
font-size: 12px;
font-weight: 400;
line-height: 20px;
}

.f-item-p span {
color: #aaa;
}
/* 3rd Section */
#apps-gear-tech {
margin-bottom: 64px;
}
#apps-gear-tech-container {
display: flex;
flex-wrap: wrap;
flex-direction:row;
align-items: center;
justify-content: space-between;

}
#apps-gear-tech-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 36px 24px;
}

.agt-h2 {
margin-bottom: 14px;
}

.agt-most-popular {
position: relative;
height: 0;
padding-top: 75%;
width: 100%;
}

.mp-img {
background-color: #000;
background-size: cover;
background-position: 50%;
bottom: 0;
left: 0;
position: absolute;
top: 0;
right: 0;
z-index: 1;
width: 368px;
height: 276px;
}

.mp-header {
bottom: 0;
left: 0;
padding: 14px;
position: absolute;
right: 0;
z-index: 3;
}

.mp-img-gradient {
background: transparent url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png) no-repeat;
background-size: 100% 100%;
bottom: 0;
left: 0;
position: absolute;
top: 0;
right: 0;
z-index: 2;
}

.mp-header-h5 {
font-family: 'Roboto Mono', monospace;
font-size: 13px;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
color: #fff;
}

.mp-header-h3 {
font-size: 20px;
font-weight: 700;
line-height: 1.1;
margin-bottom: 6px;
color: #fff;
}

.mp-header-byline {
display: flex;
flex-direction: row;
color: hsla(0, 0%, 100%, .6);
font-size: 12px;
font-weight: 500;
line-height: 16px;
}

.mp-header-author::after {
content: "\B7";
display: block;
float: right;
margin: 0 4px;
}

.agt-latest {
display: flex;
flex-direction: row;
background-color: rgba(255, 68, 34, .06);
margin: 2px 0;
}

.agt-latest-header {
display: block;
overflow: hidden;
padding: 10px 14px 0;
}

.agt-latest-h5 {
color: #f42;
font-size: 13px;
font-family: 'Roboto Mono', monospace;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .04em;
line-height: 1.5;
}

.agt-latest-title {
max-height: 56px;
overflow: hidden;
text-overflow: ellipsis;
width: 100%;
font-size: 14px;
color: #f42;
font-weight: 700;
line-height: 1.25;
}

.agt-latest-img {
flex: 0 0 96px;
height: 96px;
width: 96px;
background-color: #000;
background-position: 50%;
background-size: cover;
opacity: 1;
}

.agt-list-item {
border-bottom: 1px solid #eee;
}

.agt-list-h4 {
font-size: 13px;
font-weight: 400;
line-height: 1.5;
color: #555;
display: block;
padding: 6px 0 6px 14px;
position: relative;
}

.agt-list-h4::before {
background-color: #f42;
border-radius: 50%;
content: "";
display: block;
height: 4px;
left: 0;
position: absolute;
top: 14px;
width: 4px;
}

/* 4th Section */
.d-item-img {
background-position: 0 100%;
padding-top: 74.5%;
background-repeat: no-repeat;
background-size: cover;
display: block;
height: 0;
overflow: hidden;
width: 100%;
margin-bottom: 8px;
position: relative;
}

.d-item-title {
font-size: 16px;
font-weight: 700;
line-height: 20px;
margin-bottom: 0;
overflow-wrap: break-word;
word-wrap: break-word;
}

.d-item-dealPrice {
color: #aaa;
font-size: 12px;
line-height: 20px;
padding-top: 4px;
}

.d-item-dealPrice-old {
font-size: 13px;
text-decoration: line-through;
margin-right: 4px;
}

.d-item-dealPrice-new {
font-size: 16px;
color: #555;
}

/*End of main section*/

.footer {
  text-align: center;
  margin-top: 50px;
}

.footer-links {
  background: #131313;
  padding: 2.5em 0;
  color: #555;
}

.footer-links-social {
  margin-bottom: 1.5em;
}

.footer-links-social li {
  display: inline-block;
  margin: 0 3px;
}

.footer-links-social li a {
  background: #333;
  border-radius: 50%;
  display: block;
  height: 40px;
  padding: 12px;
  text-align: center;
  width: 40px;
  box-sizing: border-box;
}

.footer-links-social li a .icon {
  font-size: 18px;
  color: white;
}

.footer-links-menu li {
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  margin: 0 4px;
  color: #aaa;
}

.footer-links-menu li:hover {
  color: white;
}

.footer-legal {
  background: #000;
  color: #aaa;
  font-size: 13px;
  padding: 2.5em 0;
}

.footer-legal .wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

.footer-legal .wrapper span {
  display: block;
}

.footer-legal span b {
  color: #f42;
}

.footer-legal .wrapper .logo {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}
.x-large-screen-view {
  display: none;
}

@media (min-width: 768px){

  .large-screen-view,
  .story-deal-discount {
    display: initial;
  }

  .x-large-screen-view {
    display: none;
  }

  .mobile-view-nav {
    display: none;
    
  }

  .nav {
    font-size: 14px;
  }

  .nav-menu-search {
    display: flex;
    color: #aaa;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 16px;
    position: absolute;
    top: 32px;
    left:0px;
    right: 0;
    height: 48px;
    line-height: 48px;
    max-height: 48px;
    justify-content: space-between;
  }


  .nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: calc(100% - 176px);
    position: absolute;
  }

  .nav-menu li {
    margin-right: 20px;
  }

  .nav-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 175px;
    position: absolute;
    right: 20px;
  }

  .nav-search i {
    padding: 10px;
    font-size: 16px;
  }

  .search,
  .time {
    order: 1;
  }

  .nav-search .time {
    text-align: center;
    font-size: 18px;
    color: red;
    padding-right: 8px;
  }

  ul.nav-tnw {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: hsla(0, 0%, 100%, 0.6);
    background: #131313;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    position: absolute;
    left: 0px;
    right: 0;
    padding-left: 12px;
    z-index: 2;
  }

  ul.nav-tnw li {
    margin-left: 12px;
  }

  ul.nav-tnw li:first-of-type {
    color: white;
  }


  .nav-message {
    position: absolute;
    top: 80px;
    left: 0px;

    right: 0;
    height: 30px;
  }

  main {
    margin-top: 110px;
  }

  .cover {
    display: grid;
    grid-template-columns: 66.66666% 33.33333%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "grid-1 grid-2"
      "grid-1 grid-3";
    height: 60vh;
  }

  .cover-story {
    height: initial;
  }

  .grid-1 {
    grid-area: grid-1;
  }

  .grid-2 {
    grid-area: grid-2;
  }

  .grid-3 {
    grid-area: grid-3;
  }

  ul.author-list li.mobile-view {
    display: none;
  }

  .latest-news .latest-list {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-rows: 33.33333% 33.33333% 33.33333%;
    grid-template-areas: "1fr 1fr 1fr";
  }

  .latest-news .latest-list .list-content {
    padding: 0;
  }

  .latest-news .latest-list .list-content .trigger {
    padding-top: 50%;
    position: initial;
    width: 100%;
  }

  .latest-news .latest-list .list-content h4 {
    margin-top: 8px;
  }

  .latest-funding {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "1fr 1fr 1fr";
  }

  .latest-funding-header {
    grid-area: header;
  }

  .latest-funding-header .list li {
    display: inline-block;
    padding: 0 8px;
    box-sizing: border-box;
  }

  .latest-funding-header .list li:nth-child(2) {
    border-width: 0 1px;
    border-color: #f42;
    border-style: solid;
  }

  .latest-funding-header .list li:first-of-type {
    padding-left: 0;
  }

  .sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-section {
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .deals-list {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-auto-rows: auto;
    grid-template-areas: "1fr 1fr 1fr";
  }

  .deals-list-item {
    width: initial;
  }

  .story-deal {
    padding-left: 0;
  }

  .story-image {
    padding-top: 74.5%;
    position: initial;
    width: initial;
  }

  .story-deal-discount {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;

    background-image: url("../assets/deals-ribbon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 80px;
    overflow: hidden;
    width: 80px;
    z-index: 10;
  }

  .story-deal-discount div {
    transform: rotate(45deg);
    font-size: 14px;
    font-weight: 700;
    left: 8px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    width: 100%;
  }

  .footer-legal .wrapper span {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
nav.logo {
      display: block;
      z-index: 1;
      height: 16px;
      padding: 16px 20px;
      width: 66px;
      left: 0;
      position: absolute;
      top: 0;
  }
  
  .nav .menu {
    float: right;
    display: block;
    margin-top: 30px;
  }

  #apps-gear-tech-container {
display: flex;
flex-wrap: wrap;
flex-direction:row;
align-items: center;
justify-content: center;

  }
  #latest-deals-container {
    display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  }
}

@media (min-width: 1024px) {
  .nav-search .time {
    display: none;
  }

  .cover {
    height: 75vh;
    max-height: 560px;
  }

  .latest-news .latest-list,
  .deals-list {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "1fr 1fr 1fr 1fr";
  }

  .latest-funding {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header""1fr 1fr 1fr 1fr";
  }

  .story-wrapper.x-large-screen-view {
    display: initial;
  }

  .page-section {
    flex-basis: 33.3%;
  }
}